package layouts

templ BaseLayout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>What Do They Pay?</title>
		</head>
		<body>
			<h1>What Do They Pay?</h1>
			{ children... }
		</body>
	</html>
}
